@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: white;
}

a:hover {
  color: blue;
}

ol,
ul,
li {
  list-style: none;
}

.logo > a {
  background: -webkit-linear-gradient(#f05959, #04968e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: 4px;
}

html {
  font-size: 24px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}

body {
  background-color: black;
  background-image: url(./imgs/1111.png);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.wrap {
  margin: 0 70px;
}

header {
  margin: 24px auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  font-size: 32px;
}

.nav-list {
  display: flex;
}

.nav-item__link {
  font-size: 24px;
  padding: 12px;
  text-transform: capitalize;
}
.content {
  padding: 100px auto;
}

.content > h1 {
  font-size: 200px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.content > h2 {
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.content > p {
  font-size: 32px;
  margin-bottom: 150px;
}

.btn__back-home {
  font-size: 32px;
  color: #581dff;
  display: flex;
  align-items: center;
}

.btn__back-home:hover {
  cursor: pointer;
  color: white;
}

.icon-arrow {
  font-size: 40px;
}
