@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #bbb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 100px;
  background-color: blueviolet;
  float: left;
}

.header-nav {
  width: calc(100% - 100px);
  background-color: yellow;
}

.header-nav > ul > li {
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 6px;
  border: 1px solid blue;
  margin-left: 24px;
  padding: 12px;
}
