/* CSS - Cascading style sheet */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: yellow;
}

.logo {
  height: 30px;
  width: auto;
}

.logo > img {
  width: 100%;
}

.banner > img {
  width: 100%;
}
.header-nav > ul > li {
  list-style: none;
}
.nav-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: red;
  text-decoration: none;
  margin: 24px;
  border-top: 1px solid red;
  border-bottom: 5px dashed blue;
  border-left: 10px dotted orchid;
  border-right: 10px solid yellowgreen;
  border-style: dashed;
  border-color: black;
  border-width: 10px;
  padding: 30px;
  /* padding-left: 20px;
  padding-right: 10px; */
}

/* 
CSS Selector - Bộ chọn tạo kiểu
1. tag name: body, div, p, span, li, a....
2. id - identifier: duy nhất chỉ xuất hiện 1 lần.
3. class - lớp: đặt chung các thuộc tính cho nhiều phần tử
*/

.box-new {
  box-sizing: content-box;
  width: 50px;
  height: 50px;
  background-color: orange;
  border: 5px solid violet;
}

.box-new-2 {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: orange;
  border: 5px solid violet;
}
